@using Frags.Services.ViewModels.Contact
@model ContactFormModel

<h2>Edit Contact Info</h2>

<form asp-action="Edit" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Phone</label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>

    <button type="submit">Save</button>
</form>
